/* General & Anon-Home */
body {
  background-color: whitesmoke;
}

.form-control {
  margin-bottom: 18px;
}

#signup-btn {
  border-radius: 5px;
  background-color: plum;
  border: 1.5px solid purple;
  margin-top: 2px;
}

#signup-btn:hover {
  background-color: purple;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

.navbar {
  background-color: plum;
  height: 50px;
  border-bottom: 2px solid purple;
  margin-bottom: 2rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.navbar a:hover {
  color: purple;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin: 2px;
  border-radius: 50px;
  width: 40px;
  border: 0.1px solid purple;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  display: flex;
  margin: 2px;
}

.nav > li > a > img {
  display: inline-block;
  margin: 5px;
  border-radius: 50px;
  width: 40px;
}

nav form.navbar-form {
  display: flex;
  position: relative;
}

#search.form-control {
  box-sizing: border-box;
  margin-bottom: 0;
  width: 13.5vw;
  font-size: 15px;
  padding-right: 10px;
  border-radius: 18px;
}

#search.form-control + .btn {
  position: absolute;
  color: black;
  padding: 0;
  top: 4px;
  bottom: 4px;
  right: 11px;
  border-radius: 50px;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 1.5px solid purple;
}

.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 69vh;
  top: 0;
  text-shadow: 2px 2px 5px plum;
  z-index: -1;
}

.home-hero .btn {
  text-shadow: none;
  position: relative;
  z-index: 1;
}

.home-hero h1 {
  margin-bottom: 1rem;
}
.home-hero h4 {
  margin-bottom: 1rem;
}

/* Signup & Login */
#user_form input.form-control {
  border-radius: 5px;
  border: 1.5px solid purple;
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: left;
}

.onboarding > .navbar-brand {
  margin: 0;
}

.onboarding .navbar form.navbar-form {
  display: none;
}

.onboarding > .navbar a {
  color: purple;
}

.onboarding {
  background-color: rgba(230, 221, 230, 0.658);
}

.join-message {
  margin-top: 100px;
}

/* User Home & User Card */
#home-aside > .user-card {
  margin-top: 0;
  overflow: hidden;
}

#home-aside > .user-card .user-stats {
  display: flex;
  justify-content: space-around;
}

#home-aside > .user-card > div {
  width: 100%;
}

#home-aside .stat h4 {
  text-align: center;
}

#nav-profile-image,
.card-image {
  border-radius: 100%;
  display: block;
  margin-left: 7px;
}

.card-image {
  width: 150px;
  height: 150px;
  border: 2px solid plum;
  margin: 0 auto 10px;
  margin-top: 18px;
  z-index: 1;
  position: relative;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.24);
}

.timeline-image {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin-top: 6px;
}

.user-stats > .ml-auto {
  display: flex;
  align-items: center;
}

.user-stats > .ml-auto .btn {
  min-width: 100px;
  padding: 5px 15px;
}

.stat {
  text-align: center;
  height: 65px;
  box-sizing: border-box;
  padding: 15px 15px 7px;
  line-height: 1;
}

.stat > .small {
  color: #657786;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-bottom: 0;
}

.stat > .small + h4 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 2px;
}

a {
  color: purple;
}

a:hover {
  color: plum;
  text-decoration: none;
}

.user-card {
  width: 100%;
  border-radius: 25px;
  border: 2px solid purple;
  padding-bottom: 2%;
  background: white;
  box-shadow: 2px 2px 2px plum;
  align-items: center;
}

#username {
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
  color: black;
}

#username:hover {
  color: purple;
  text-decoration: underline;
}

.card-link {
  text-decoration: none;
  text-align: center;
}

/* Posts */

.post-area {
  margin-left: 30px;
}

#posts {
  position: relative;
}

#posts .post-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#posts .list-group-item a:not(.post-link) {
  position: relative;
  z-index: 2;
}

#posts .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px 15px;
  border: 1px solid purple;
  border-radius: 20px;
  margin-bottom: 3px;
}

#posts:not(.no-hover) .list-group-item:hover {
  background-color: rgba(221, 160, 221, 0.336);
}

#posts-form {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
}
#posts-form .btn {
  border-radius: 100%;
}

#del-posts-form {
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 1;
}
#del-posts-form .btn {
  border-radius: 100%;
}

/* Users' Page */

#sidebar-username {
  margin-top: 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 28px;
  word-wrap: break-word;
}

#user-info {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  left: 37.6%;
}

#posts-row {
  justify-content: center;
}

#profile-btns {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
}

#profile-btns > a {
  margin-bottom: 4px;
}
#edit-btn,
#delete-profile-btn {
  border-radius: 69px;
}

#stats-row {
  position: relative;
  left: 160px;
}

#error-msg {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#home-error-msg {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -160px;
}

.card-bio {
  color: rgba(128, 0, 128, 0.486);
  text-align: center;
}

/* Edit Page */

.edit-btn-area {
  display: flex;
  justify-content: space-between;
}

.edit-btn-area > .btn {
  width: 48%;
}

#bio {
  border: 1.5px solid purple;
}

/* New Post & Show Post */

#text,
#song-query {
  border: 1.5px solid purple;
}

#search-wrapper {
  position: relative;
}

#search-song {
  position: absolute;
  right: 0;
  margin-top: -56px;
}

.select-song {
  border: 1.5px solid purple;
  border-radius: 50px;
  margin-top: 0;
  margin-bottom: 5px;
}
.select-song:hover {
  border: 1.5px solid plum;
  background-color: purple;
  color: white;
}

.name-artist {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 75px;
  bottom: 70px;
}

.eachSong {
  margin-bottom: -45px;
}

.eachSong .btn {
  position: relative;
  bottom: 66px;
}

#del-showPost-form {
  position: absolute;
  bottom: 4px;
  right: 4px;
  z-index: 1;
}
#del-showPost-form .btn {
  border-radius: 20px;
}

.text-muted {
  margin-left: 8px;
}

/* Follow/Unfollow */

#follow-btns {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2px;
}

#follow-btn {
  background-color: plum;
  border: 1.5px solid purple;
  color: black;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}
#follow-btn:hover {
  background-color: purple;
  box-shadow: 1px 1px 2px plum;
  color: white;
  position: relative;
}

#unfollow-btn {
  background-color: plum;
  border: 1.5px solid purple;
  color: black;
  border-radius: 20px;
}
#unfollow-btn:hover {
  background-color: purple;
  box-shadow: 2px 2px 2px plum;
  color: white;
  position: relative;
}
