{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <form method="POST">    
            <div>
                <form id="search-form" role="search" class="form-inline">
                    <input type="search" id="query" name="query" placeholder="Compliment your Post with a Song from Spotify!" class="form-control" aria-label="Search Song Tracks from Spotify">
                    <button class="btn btn-default">
                        <span class="fa fa-search"></span>
                    </button>
                </form>
            </div>
            <button class="btn btn-outline-success btn-block">Next</button>
            <a href="/posts/new" class="btn btn-outline-danger btn-block">Back</a>
        </form>
    </div>
</div>
{% endblock %}