{% extends 'users/profile.html' %}

{% block user_details %}
{% if user.followers|length == 0 %}
    <h3 id="error-msg">You have no followers yet!</h3>
{% else %}
<div class="col-sm-9">
    <div class="row">

        {% for follower in user.followers %}
        <div class="col-lg-4 col-md-6 col-12">
            <div class="card user-card">
                <div class="card-inner">
                    <div class="card-contents">
                        <a href="/users/{{ follower.id }}" class="card-link">
                            <img src="{{ follower.image_url }}" alt="User Image" class="card-image">
                            <p id="username">~ {{ follower.username }} ~</p>
                        </a>
                        {% if follower.bio %}
                        <p class="card-bio">{{ follower.bio }}</p>
                        {% endif %}
                        
                        {% if g.user.is_following(follower) %}
                        <form method="POST" action="/users/unfollow/{{ follower.id }}" id="follow-btns">
                            <button class="btn btn-primary btn-sm" id="unfollow-btn">Unfollow</button>
                        </form>
                        {% else %}
                            {% if g.user.id != follower.id %}
                            <form method="POST" action="/users/follow/{{ follower.id }}" id="follow-btns">
                                <button class="btn btn-outline-primary btn-sm" id="follow-btn">Follow</button>
                            </form>
                            {% endif %}
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}