{% extends 'users/profile.html' %}

{% block user_details %}
{% if user.following|length == 0 %}
    {% if user %}
    <h3 id="error-msg">You're not following anyone yet!</h3>
    {% elif user.id != g.user.id %}
    <h3 id="error-msg">{{ user.username }} is not following anyone yet!</h3>
    {% endif %}
{% else %}
<div class="col-sm-9">
    <div class="row">

        {% for followed_user in user.following %}
        <div class="col-lg-4 col-md-5 col-10">
            <div class="card user-card">
                <div class="card-inner">
                    <div class="card-contents">
                        <a href="/users/{{ followed_user.id }}" class="card-link">
                            <img src="{{ followed_user.image_url }}" alt="User Image" class="card-image">
                            <p id="username">~ {{ followed_user.username }} ~</p>
                        </a>
                        {% if followed_user.bio %}
                        <p class="card-bio">{{ followed_user.bio }}</p>
                        {% endif %}

                        {% if g.user.is_following(followed_user) %}
                        <form method="POST" action="/users/unfollow/{{ followed_user.id }}" id="follow-btns">
                            <button class="btn btn-primary btn-sm" id="unfollow-btn">Unfollow</button>
                        </form>
                        {% else %}
                            {% if g.user.id != followed_user.id %}
                            <form method="POST" action="/users/follow/{{ followed_user.id }}" id="follow-btns">
                                <button class="btn btn-outline-primary btn-sm" id="follow-btn">Follow</button>
                            </form>
                            
                            {% endif %}
                        {% endif %}
                    </div>
                    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}