{% extends 'users/profile.html' %}

{% block user_details %}
{% if userLikes|length == 0 %}
{% if post.user %}
    <h3 id="error-msg">You have no likes yet!</h3>
{% elif !post.user %}
    <h3 id="error-msg">{{ post.user.username }} has no likes yet!</h3>
{% else %}
<div class="col-lg-6 col-md-8 col-sm-12">
    <ul class="list-group" id="posts">

        {% for post in userLikes %}
        <li class="list-group-item">
            <a href="/posts/{{ post.id }}" class="post-link"></a>
            <a href="/users/{{ post.user.id }}">
                <img src="{{ post.user.image_url }}" alt="User Image" class="timeline-image">
            </a>

            <div class="post-area">
                <a href="/users/{{ post.user.id }}">~ {{ post.user.username }} ~</a>
                <span class="text-muted">{{ post.timestamp.strftime('%d %B %Y') }}</span>

                <p>{{ post.text }}</p>

                {% if post.spotify_id %}
                <img src="{{post.song['album']['images'][2]['url']}}" alt="Song cover art">
                <div>
                  <a href="{{post.song['external_urls']['spotify']}}">
                    {{post.song["name"]}}
                  </a>
                    -
                  <a href="{{post.song['artists'][0]['external_urls']['spotify']}}">
                    {{post.song["artists"][0]["name"]}}
                  </a>
                </div>
                {% endif %}
            </div>

            <form method="POST" action="/users/add_like/{{ post.id }}" id="posts-form">
                <button class="btn btn-sm {{'btn-primary' if post.id in likedPostIds else 'btn-secondary'}}">
                    <i class="fas fa-thumbs-up" id="like-btn"></i>
                </button>
            </form>   
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}